.home {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(/images/HoopCityPro.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}


.home::before {
  display: flex;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}
